name: Generate Library CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
  schedule:
    - cron: 0 0 * * 0

env:
  PUB_ENVIRONMENT: bot.github

jobs:
  generate-library:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd
      - uses: dart-lang/setup-dart@e51d8e571e22473a2ddebf0ef8a2123f0ab2c02c
      - id: install
        name: Install dependencies
        run: dart pub get
        working-directory: scripts
      - name: Generate library
        run: dart scripts/bin/generate_library.dart
